*/

using System ;

using System.Drawing ;

using System.Windows.Forms ;

 

namespace formulario {

  public class Ventana : Form {

    //Atributos.

    private Label etiqueta ;

    private TextBox texto ;

    private Button boton ;

    // Metodos.

    public Ventana() {

      // Titulo de la ventana. 

      this.Text = "Ventana" ;

      // Tama¤o de la ventana.

      this.Size = new Size(400,200) ;

      // Creaci¢n de etiqueta e inserci¢n detexto.

      etiqueta = new Label() ;

     etiqueta.Text = "Etiqueta" ;

      // Posici¢n de la etiqueta.

      etiqueta.Location = new Point(30,30) ;

      // Incluimos la etiqueta dentro de laventana.

      this.Controls.Add(etiqueta) ;

      // Creaci¢n de un campo de textoeditable.

     texto = new TextBox() ;

      // Posicionamos el textbox y lo incluimosdentro de la ventana.

      texto.Location = new Point(200,30) ;

     this.Controls.Add(texto) ;

      // Creamos el bot¢n.

      boton =new Button() ;

      // Incluimos texto en el bot¢n, loposicionamos e incluimos en ventana.

      boton.Text = "Haz Click" ;

     boton.Location = new Point(200,70) ;

      this.Controls.Add(boton) ;

    }

  }

}
